@model ClotheStore.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm mới sản phẩm</h1>

<hr />
<div class="row">
    <div class="mt-4">
        <form asp-action="Create" asp-controller="AdminProducts" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group mb-3">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Tên sản phẩm</label>
                        <input style="border: 1px solid; padding-left: 4px; width: 320px" asp-for="ProductName" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>

                        <div class="row">
                            <div class="form-group mb-3 col-md-2">
                                <label class="control-label">Danh mục</label>
                                <select style="border: 1px solid; padding-left: 4px; width: 90px" asp-for="CatId" class="form-control" asp-items="ViewBag.DanhMuc"></select>
                            </div>

                            <div class="form-group mb-3 col-md-3">
                                <label asp-for="ProductSizes" class="control-label">Size và Số lượng</label>
                                @foreach (var size in ViewBag.Sizes as List<Size>)
                                {
                                    <div class="form-group form-size">
                                        <input style="margin: 0 4px" type="checkbox" name="selectedSizes" value="@size.SizeId"/>
                                        @size.SizeName
                                        <input class="form-control form-input-quantity" type="number" name="quantities" min="0"/>
                                    </div>
                                }
                            </div>
@*                             <div class="form-group mb-3 col-md-3">
                                <label class="control-label">Số lượng nhập</label>
                                <input style="border: 1px solid; padding-left: 4px" asp-for="UnitslnStock" class="form-control" />
                                <span asp-validation-for="UnitslnStock" class="text-danger"></span>
                            </div> *@
                            <div class="form-group mb-3 col-md-4">
                                <label class="control-label">Ngày tạo</label>
                                <input style="border: 1px solid; padding-left: 4px" asp-for="CreateDate" class="form-control" />
                                <span asp-validation-for="CreateDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group mb-3 col-md-4">
                                <label class="control-label">Tiêu đề</label>
                                <input style="border: 1px solid; padding-left: 4px" asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3 col-md-4">
                                <label class="control-label">Alias</label>
                                <input style="border: 1px solid; padding-left: 4px" asp-for="Alias" class="form-control" />
                                <span asp-validation-for="Alias" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3 col-md-8">
                                <label class="control-label">Mô tả ngắn</label>
                                <input style="border: 1px solid; padding-left: 4px" asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3 col-md-4">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input checked="" class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="BestSeller" /> @Html.DisplayNameFor(model => model.BestSeller)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="HomeFlag" /> @Html.DisplayNameFor(model => model.HomeFlag)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Giá</label>
                        <input type="number" min="0" style="border: 1px solid; padding-left: 4px; width: 90px" asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>

                         <label class="control-label">Giảm giá</label>
                        <input type="number" min="0" style="border: 1px solid; padding-left: 4px; width: 90px" asp-for="Discount" class="form-control" />
                        <span  asp-validation-for="Discount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Hình ảnh</label>
                <input style="border: 1px solid; padding-left: 4px; width: 50%" name="fImages" asp-for="ProductImages" class="form-control" type="file" multiple />
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại</a>
</div>
@section Styles {
    <style>
        .form-size {
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            position: relative
        }

        .form-input-quantity {
            border: 1px solid;
            padding-left: 4px;
            width: 50px;
            margin: 0 16px;
            position: absolute;
            right: 0
        }
    </style>
}
